.main {
  color: #f4ed29;
  margin: 0 50px;

  h1 {
    font-size: 8em;
    margin: 0;
    color: #F4ED29;
  }

  h2 {
    font-size: 5em;
  }

  .heroSection {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 150vh;
    width: 100%;

    .titlesContainer {
      margin-top: -20px;
      min-height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .topContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;

          .forStretch {
            margin-top: 10px;
            margin-right: 80px;
            transform: scaleX(1.7) scaleY(1.8);
            letter-spacing: -35px;
            font-size: 13em;
          }
          .hungryStretch {
            margin-left: 20px;
            transform: scaleX(1.5) scaleY(1.4);
            letter-spacing: -20px;
            display: inline-block;
          }
          .areYouStretch {
            margin-left: 22px;
            transform: scaleX(1.5) scaleY(1.3);
            letter-spacing: -20px;

            white-space: nowrap;
            display: inline-block;
          }
        }

        .title:first-child {
          flex-grow: 1;
          min-width: 50%;
          text-align: center;
        }
        .title:nth-child(2) {
          flex-grow: 1;
          min-width: 30%;
          text-align: center;
        }
      }

      .bottomContainer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .title {
          display: flex;
          flex-direction: column;
          height: 100%;

          .sumStretch {
            margin-right: 40px;
            transform: scaleX(1.8) scaleY(1.8);
            letter-spacing: -39px;
            font-size: 13em;
          }
          .ossosStretch {
            margin-right: 35px;
            transform: scaleX(1.7) scaleY(1.4);
            letter-spacing: -18px;
          }
          .mexidosStretch {
            margin-right: 20px;
            transform: scaleX(1.2) scaleY(1.2);
            letter-spacing: -19px;
          }
        }

        .title:first-child {
          flex-grow: 1;

          min-width: 50%;
          text-align: center;
        }
        .title:nth-child(2) {
          flex-grow: 1;

          min-width: 30%;
          text-align: center;
        }
      }
    }
  }

  .descriptionSection {
    height: 100vh;
    .textBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.7em;
      width: auto;

      p {
        width: 30vw;
      }
    }
  }

  .comeShakeSection {
    height: 100vh;

    .textBlock {
      font-size: 1.7em;
      margin: 0 200px;
    }
  }

  .contactSection {
    height: 60vh;

    .textBlock {
      font-size: 1.7em;
      margin: 0 200px;
    }
  }
}
