.product {
    background: black;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
    .options {

        .sizeOptions{
            display: flex;
            justify-content: space-between;
            button{
                margin: 0;
                height: 2vw;
                width: 4.5vw;
            }
            .selected {
                background-color: yellow; /* Example color for selected button */
                color: black; /* Example text color for selected button */
              }
        }


        text-align: start;

        color: yellow;
    
        h1 {
          font-size: 3em;
          width: 10vw;
          margin-bottom: 10px;
        }

        p{
            margin-top: 0;
        }
        input {
          padding: 10px;
          margin: 20px;
          width: 15vw;
          color: yellow;
          background: transparent;
          border: none; /* Remove default border */
          border-bottom: 1px solid yellow; /* Add bottom border */
        }
    
        input:focus {
          outline: none; /* Remove default focus outline */
        }
    
        input::placeholder {
          color: yellow; /* Change the color of the placeholder text */
          opacity: 60%;
        }
    
        button {
          margin-top: 20px;
          border-radius: 0;
          font-weight: bold;
          cursor: pointer;
          border: 1px solid yellow;
          text-decoration: none;
          width: 20vw;
          height: 5vh;
          color: yellow;
          background: transparent;
        }
    
        button:hover {
          background-color: yellow;
          color: black;
        }
      }
  
    .box {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      height: 80vh;
      border: 2px solid yellow;
    }
  }
  