.footer {
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;

  a{
    color: yellow;
  }

  p {
    flex: 1;
    width: 100%;
  }
  p:first-child {
    text-align: start;
  }

  p:last-child {
    text-align: end;
  }
}
